Repository aramperes/momoperes.ca: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website:release, website:deploy, abitibi:release, abitibi:deploy, infra:deploy, teamspeak:deploy, chartmuseum:deploy

website:release:
  stage: release
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "Building to ${WEBSITE_IMAGE}:${CI_COMMIT_TAG}"
  ...

website:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${WEBSITE_SRC}
  ...

abitibi:release:
  stage: release
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "Building to ${ABITIBI_IMAGE}:${CI_COMMIT_TAG}"
  ...

abitibi:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${ABITIBI_SRC}
  ...

infra:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${INFRA_SRC}/
  - kubectl apply --namespace ${DEPLOY_NAMESPACE} -R -f manifests/

teamspeak:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${TEAMSPEAK_SRC}
  - helm upgrade --install --namespace ${DEPLOY_NAMESPACE} teamspeak ./chart/teamspeak

chartmuseum:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${CHARTMUSEUM_SRC}
  - helm repo add chartmuseum https://chartmuseum.github.io/charts && helm repo update
  ...

Update index.html
  website/src/index.html
Due: website:release, website:deploy

Add ntc-comingsoon
  infra/manifests/ingress.yaml
  infra/manifests/ntc-comingsoon.yml
Due: infra:deploy

Cleanup
  infra/manifests/ingress.yaml
  infra/manifests/ntc-comingsoon.yml
Due: infra:deploy

Use onetun for ntc-comingsoon and ntc-pdf-converter
  .gitlab-ci.yml
  infra/manifests/ntc-comingsoon.yml
  onetun/chart/onetun/.helmignore
  onetun/chart/onetun/Chart.yaml
  onetun/chart/onetun/templates/NOTES.txt
  onetun/chart/onetun/templates/_helpers.tpl
  onetun/chart/onetun/templates/deployment.yaml
  onetun/chart/onetun/templates/hpa.yaml
  onetun/chart/onetun/templates/ingress.yaml
  onetun/chart/onetun/templates/service.yaml
  onetun/chart/onetun/templates/serviceaccount.yaml
  onetun/chart/onetun/values.yaml
  onetun/ntc-comingsoon.yml
  onetun/ntc-pdf-converter.yml
Due: infra:deploy

Typo
  .gitlab-ci.yml
  onetun/chart/onetun/Chart.yaml
Due: none

Update onetun to v0.1.7
  onetun/chart/onetun/Chart.yaml
Due: none

Update onetun to v0.1.8
  onetun/chart/onetun/Chart.yaml
Due: none

Update onetun to v0.1.9
  onetun/chart/onetun/Chart.yaml
Due: none

Update onetun to v0.1.10
  onetun/chart/onetun/Chart.yaml
Due: none

Update onetun to v0.1.11
  onetun/chart/onetun/Chart.yaml
Due: none

Update onetun to v0.2.1
  onetun/chart/onetun/Chart.yaml
  onetun/chart/onetun/templates/deployment.yaml
Due: none

Bump onetun chart version
  onetun/chart/onetun/Chart.yaml
Due: none

Update onetun to v0.2.4
  onetun/chart/onetun/Chart.yaml
Due: none

Update log level to info
  onetun/ntc-comingsoon.yml
  onetun/ntc-pdf-converter.yml
Due: none

Update onetun version to v0.2.8
  onetun/chart/onetun/Chart.yaml
Due: none

Update onetun to v0.2.9
  onetun/chart/onetun/Chart.yaml
Due: none

Update abitibi URL
  infra/manifests/ingress.yaml
Due: infra:deploy

Update website/src/index.html
  website/src/index.html
Due: website:release, website:deploy

add chartmuseum pvc
  chartmuseum/pvc.yaml
Due: chartmuseum:deploy

add ingress for tracing
  infra/manifests/ingress.yaml
Due: infra:deploy

revert
  infra/manifests/ingress.yaml
Due: infra:deploy

deploy uptrace
  uptrace/chart/.helmignore
  uptrace/chart/Chart.yaml
  uptrace/chart/templates/_helpers.tpl
  uptrace/chart/templates/clickhouse-service.yaml
  uptrace/chart/templates/clickhouse-statefulset.yaml
  uptrace/chart/templates/hpa.yaml
  uptrace/chart/templates/ingress.yaml
  uptrace/chart/templates/service.yaml
  uptrace/chart/templates/serviceaccount.yaml
  uptrace/chart/templates/uptrace-config.yaml
  uptrace/chart/templates/uptrace-statefulset.yaml
  uptrace/chart/values.yaml
  uptrace/uptrace.yaml
  uptrace/values.yaml
Due: none

add uptrace
  website/src/index.html
Due: website:release, website:deploy

Update ntc-pdf-converter peer IP
  .gitlab-ci.yml
  onetun/ntc-comingsoon.yml
  onetun/ntc-pdf-converter.yml
Due: none

Update ntc-pdf-converter peer IP
  onetun/ntc-pdf-converter.yml
Due: none

Add mastodon redirect
  website/docker/nginx.conf
Due: website:release, website:deploy

Revert "Add mastodon redirect"
  website/docker/nginx.conf
Due: website:release, website:deploy

add twitton deployment
  .gitlab-ci.yml
  twitton/chart/twitton/.helmignore
  twitton/chart/twitton/Chart.yaml
  twitton/chart/twitton/templates/NOTES.txt
  twitton/chart/twitton/templates/_helpers.tpl
  twitton/chart/twitton/templates/deployment.yaml
  twitton/chart/twitton/templates/hpa.yaml
  twitton/chart/twitton/templates/ingress.yaml
  twitton/chart/twitton/templates/service.yaml
  twitton/chart/twitton/templates/serviceaccount.yaml
  twitton/chart/twitton/templates/tests/test-connection.yaml
  twitton/chart/twitton/values.yaml
  twitton/values.yaml
Due: none

twitton: configure icon. always pull image
  twitton/chart/twitton/templates/deployment.yaml
  twitton/chart/twitton/values.yaml
  twitton/values.yaml
Due: none

upload Momo.jpg
  website/src/Momo.jpg
Due: website:release, website:deploy

alien
  abitibi/src/alien.gif
  abitibi/src/index.html
Due: abitibi:release, abitibi:deploy

alienn
  abitibi/src/index.html
Due: abitibi:release, abitibi:deploy

2 aliens
  abitibi/src/index.html
Due: abitibi:release, abitibi:deploy

Path conditions:
  website:release: any of: website/**/*
  website:deploy: any of: website/**/*
  abitibi:release: any of: abitibi/**/*
  abitibi:deploy: any of: abitibi/**/*
  infra:deploy: any of: infra/**/*
  teamspeak:deploy: any of: teamspeak/**/*
  chartmuseum:deploy: any of: chartmuseum/**/*
