Repository aramperes/momoperes.ca: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website:release, website:deploy, infra:deploy, teamspeak:deploy, defiant:build, defiant:release

.gitlab-ci.yml:

variables:
  WEBSITE_SRC: ${CI_PROJECT_DIR}/website
  INFRA_SRC: ${CI_PROJECT_DIR}/infra
  TEAMSPEAK_SRC: ${CI_PROJECT_DIR}/teamspeak
  DEFIANT_SRC: ${CI_PROJECT_DIR}/defiant

  IMAGE_PREFIX: registry.gitlab.com/momothereal/momoperes.ca
  WEBSITE_IMAGE: ${IMAGE_PREFIX}/website
  DEFIANT_IMAGE: ${IMAGE_PREFIX}/defiant

  KUBECONFIG_PARENT: /etc/deploy
  KUBECONFIG: ${KUBECONFIG_PARENT}/config
  DEPLOY_NAMESPACE: public

stages:
  - build
  - release
  - deploy

### WEBSITE ###

website:release:
  stage: release
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "Building to ${WEBSITE_IMAGE}:${CI_COMMIT_TAG}"
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"username\":\"${CI_REGISTRY_USER}\",\"password\":\"${CI_REGISTRY_PASSWORD}\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context ${WEBSITE_SRC} --dockerfile ${WEBSITE_SRC}/docker/Dockerfile --destination ${WEBSITE_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA} --destination ${WEBSITE_IMAGE}:${CI_COMMIT_REF_SLUG}
  only:
    changes:
      - website/**/*

website:deploy:
  stage: deploy
  image: lwolf/helm-kubectl-docker:v1.15.4-v2.14.3
  script:
    - mkdir -p ${KUBECONFIG_PARENT}
    - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}

    # Deploy using helm chart
    - cd ${WEBSITE_SRC}/chart
    - mkdir -p manifests/
    - helm template ./website/ --output-dir manifests/ --name website --set image.name=${WEBSITE_IMAGE} --set image.tag=${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA} -f ./website/values.yaml
    - kubectl apply --namespace ${DEPLOY_NAMESPACE} -R -f manifests/
  only:
    refs:
      - master
    changes:
      - website/**/*

# INFRA #

infra:deploy:
  stage: deploy
  image: lwolf/helm-kubectl-docker:v1.15.4-v2.14.3
  script:
    - mkdir -p ${KUBECONFIG_PARENT}
    - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}

    # Deploy nginx ingress
    - helm init --client-only && helm repo update
    - helm upgrade nginx-ingress stable/nginx-ingress --install --namespace ${DEPLOY_NAMESPACE} --set controller.publishService.enabled=true

    # Deploy infra manifests directly
    - cd ${INFRA_SRC}/
    - kubectl apply --namespace ${DEPLOY_NAMESPACE} -R -f manifests/
  only:
    refs:
      - master
    changes:
      - infra/**/*

# TEAMSPEAK #

teamspeak:deploy:
  stage: deploy
  image: lwolf/helm-kubectl-docker:v1.15.4-v2.14.3
  script:
    - mkdir -p ${KUBECONFIG_PARENT}
    - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}

    # Deploy using helm chart
    - cd ${TEAMSPEAK_SRC}/chart
    - mkdir -p manifests/
    - helm template ./teamspeak/ --output-dir manifests/ --name teamspeak -f ./teamspeak/values.yaml
    - kubectl apply --namespace ${DEPLOY_NAMESPACE} -R -f manifests/
  only:
    refs:
      - master
    changes:
      - teamspeak/**/*

# DEFIANT #

defiant:build:
  stage: build
  image: alpine/git
  script:
    - cd ${DEFIANT_SRC}/src
    - git clone https://github.com/momothereal/code-jam-2.git defiant
    - cp main_config.yaml defiant/config/main_config.yaml
  only:
    changes:
      - defiant/**/*

defiant:release:
  stage: release
  image:
    name: gcr.io/kaniko-project/executor:debug
  script:
    - echo "Building to ${DEFIANT_IMAGE}:${CI_COMMIT_TAG}"
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"username\":\"${CI_REGISTRY_USER}\",\"password\":\"${CI_REGISTRY_PASSWORD}\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context ${DEFIANT_SRC}/src/defiant --dockerfile ${DEFIANT_SRC}/src/defiant/Dockerfile --destination ${DEFIANT_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA} --destination ${DEFIANT_IMAGE}:${CI_COMMIT_REF_SLUG}
  only:
    changes:
      - defiant/**/*

Build with sh
  .gitlab-ci.yml
Due: none

Try to use debian image instead
  .gitlab-ci.yml
Due: none

Apparently that's necessary
  .gitlab-ci.yml
Due: none

Artifact defiant
  .gitlab-ci.yml
Due: none

Deploy defiant
  .gitlab-ci.yml
  defiant/chart/defiant/templates/rethinkdb-service.yaml
  defiant/src/main_config.yaml
Due: defiant:build, defiant:release

Try to fix rethinkdb deployment
  defiant/chart/defiant/templates/rethinkdb-deployment.yaml
Due: defiant:build, defiant:release

Remove resource restrictions
  defiant/chart/defiant/templates/deployment.yaml
  defiant/chart/defiant/templates/rethinkdb-deployment.yaml
  defiant/chart/defiant/values.yaml
  teamspeak/chart/teamspeak/templates/deployment.yaml
  teamspeak/chart/teamspeak/values.yaml
Due: teamspeak:deploy, defiant:build, defiant:release

Fix
  defiant/chart/defiant/templates/rethinkdb-deployment.yaml
Due: defiant:build, defiant:release

Fix defiant tag
  .gitlab-ci.yml
  defiant/chart/defiant/values.yaml
Due: defiant:build, defiant:release

Add defiant to ingress
  infra/manifests/ingress.yaml
Due: infra:deploy

Spacing
  infra/manifests/ingress.yaml
Due: infra:deploy

Fix defiant helm command
  .gitlab-ci.yml
Due: none

Fix defiant deployment image
  defiant/chart/defiant/templates/deployment.yaml
Due: defiant:build, defiant:release

Fix rethinkdb service name
  defiant/chart/defiant/templates/rethinkdb-service.yaml
Due: defiant:build, defiant:release

Readme and License
  LICENSE
  README.md
Due: none

Private namespace
  infra/manifests/ingress.yaml
  infra/manifests/namespace-private.yaml
  infra/manifests/namespace-public.yaml
Due: infra:deploy

Move files to private namespace
  infra/manifests/ingress.yaml
Due: infra:deploy

Fix service names
  infra/manifests/external-files-fwd.yaml
  infra/manifests/ingress.yaml
Due: infra:deploy

Change website-files service name
  infra/manifests/external-files-fwd.yaml
Due: infra:deploy

Move website files to public namespace
  infra/manifests/external-files-fwd.yaml
  infra/manifests/ingress.yaml
  infra/manifests/namespace-private.yaml
Due: infra:deploy

Text resume for curl
  website/docker/nginx.conf
  website/src/resume.txt
Due: website:release, website:deploy

Fix redirect
  website/docker/nginx.conf
Due: website:release, website:deploy

Lets try this
  website/docker/nginx.conf
Due: website:release, website:deploy

Ordering
  website/docker/nginx.conf
Due: website:release, website:deploy

Confused
  website/docker/nginx.conf
Due: website:release, website:deploy

More content
  website/src/resume.txt
Due: website:release, website:deploy

Properly install website
  .gitlab-ci.yml
Due: none

Properly install website, defiant
  .gitlab-ci.yml
Due: none

Add media server to ingress
  infra/manifests/ingress.yaml
Due: infra:deploy

ChartMuseum
  .gitlab-ci.yml
  chartmuseum/.gitignore
  chartmuseum/secret-template.yaml
  chartmuseum/values.yaml
  infra/manifests/ingress.yaml
Due: infra:deploy

Fix chartmuseum path
  .gitlab-ci.yml
Due: none

Bump
  chartmuseum/.gitignore
Due: none

Fix typo
  chartmuseum/values.yaml
Due: none

Disable nginx-ingress upgrades for now
  .gitlab-ci.yml
Due: none

Update readme; Allow read-only access
  README.md
  chartmuseum/values.yaml
Due: none

Enable ChartMuseum API
  chartmuseum/values.yaml
Due: none

Update homepage
  website/src/index.html
Due: website:release, website:deploy

Update teamspeak
  teamspeak/chart/teamspeak/values.yaml
Due: teamspeak:deploy

Remove nickname
  website/src/index.html
Due: website:release, website:deploy
