Repository aramperes/momoperes.ca: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website:release, website:deploy, infra:deploy, teamspeak:deploy, defiant:build, defiant:release

.gitlab-ci.yml:

variables:
  WEBSITE_SRC: ${CI_PROJECT_DIR}/website
  INFRA_SRC: ${CI_PROJECT_DIR}/infra
  TEAMSPEAK_SRC: ${CI_PROJECT_DIR}/teamspeak
  DEFIANT_SRC: ${CI_PROJECT_DIR}/defiant

  IMAGE_PREFIX: registry.gitlab.com/momothereal/momoperes.ca
  WEBSITE_IMAGE: ${IMAGE_PREFIX}/website
  DEFIANT_IMAGE: ${IMAGE_PREFIX}/defiant

  KUBECONFIG_PARENT: /etc/deploy
  KUBECONFIG: ${KUBECONFIG_PARENT}/config
  DEPLOY_NAMESPACE: public

stages:
  - build
  - release
  - deploy

### WEBSITE ###

website:release:
  stage: release
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "Building to ${WEBSITE_IMAGE}:${CI_COMMIT_TAG}"
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"username\":\"${CI_REGISTRY_USER}\",\"password\":\"${CI_REGISTRY_PASSWORD}\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context ${WEBSITE_SRC} --dockerfile ${WEBSITE_SRC}/docker/Dockerfile --destination ${WEBSITE_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA} --destination ${WEBSITE_IMAGE}:${CI_COMMIT_REF_SLUG}
  only:
    changes:
      - website/**/*

website:deploy:
  stage: deploy
  image: lwolf/helm-kubectl-docker:v1.15.4-v2.14.3
  script:
    - mkdir -p ${KUBECONFIG_PARENT}
    - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}

    # Deploy using helm chart
    - cd ${WEBSITE_SRC}/chart
    - mkdir -p manifests/
    - helm template ./website/ --output-dir manifests/ --name website --set image.name=${WEBSITE_IMAGE} --set image.tag=${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA} -f ./website/values.yaml
    - kubectl apply --namespace ${DEPLOY_NAMESPACE} -R -f manifests/
  only:
    refs:
      - master
    changes:
      - website/**/*

# INFRA #

infra:deploy:
  stage: deploy
  image: lwolf/helm-kubectl-docker:v1.15.4-v2.14.3
  script:
    - mkdir -p ${KUBECONFIG_PARENT}
    - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}

    # Deploy nginx ingress
    - helm init --client-only && helm repo update
    - helm upgrade nginx-ingress stable/nginx-ingress --install --namespace ${DEPLOY_NAMESPACE} --set controller.publishService.enabled=true

    # Deploy infra manifests directly
    - cd ${INFRA_SRC}/
    - kubectl apply --namespace ${DEPLOY_NAMESPACE} -R -f manifests/
  only:
    refs:
      - master
    changes:
      - infra/**/*

# TEAMSPEAK #

teamspeak:deploy:
  stage: deploy
  image: lwolf/helm-kubectl-docker:v1.15.4-v2.14.3
  script:
    - mkdir -p ${KUBECONFIG_PARENT}
    - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}

    # Deploy using helm chart
    - cd ${TEAMSPEAK_SRC}/chart
    - mkdir -p manifests/
    - helm template ./teamspeak/ --output-dir manifests/ --name teamspeak -f ./teamspeak/values.yaml
    - kubectl apply --namespace ${DEPLOY_NAMESPACE} -R -f manifests/
  only:
    refs:
      - master
    changes:
      - teamspeak/**/*

# DEFIANT #

defiant:build:
  stage: build
  image: alpine/git
  script:
    - cd ${DEFIANT_SRC}/src
    - git clone https://github.com/momothereal/code-jam-2.git defiant
    - cp main_config.yaml defiant/config/main_config.yaml
  only:
    changes:
      - defiant/**/*

defiant:release:
  stage: release
  image:
    name: gcr.io/kaniko-project/executor:debug
  script:
    - echo "Building to ${DEFIANT_IMAGE}:${CI_COMMIT_TAG}"
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"username\":\"${CI_REGISTRY_USER}\",\"password\":\"${CI_REGISTRY_PASSWORD}\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context ${DEFIANT_SRC}/src/defiant --dockerfile ${DEFIANT_SRC}/src/defiant/Dockerfile --destination ${DEFIANT_IMAGE}:${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA} --destination ${DEFIANT_IMAGE}:${CI_COMMIT_REF_SLUG}
  only:
    changes:
      - defiant/**/*

Add deluge script
  website/src/deluge.sh
Due: website:release, website:deploy

Add Wikipedia Search project
  website/src/index.html
Due: website:release, website:deploy

Update index.html
  website/src/index.html
Due: website:release, website:deploy

Disable Defiant temporarily
  .gitlab-ci.yml
Due: none

abitibi
  .gitlab-ci.yml
  abitibi/.gitignore
  abitibi/chart/abitibi/Chart.yaml
  abitibi/chart/abitibi/templates/_helpers.tpl
  abitibi/chart/abitibi/templates/deployment.yaml
  abitibi/chart/abitibi/templates/service.yaml
  abitibi/chart/abitibi/values.yaml
  abitibi/docker/Dockerfile
  abitibi/docker/nginx.conf
  abitibi/src/index.html
  infra/manifests/ingress.yaml
Due: infra:deploy

poke
  .gitlab-ci.yml
  abitibi/src/index.html
  website/src/deluge.sh
Due: website:release, website:deploy

abitibi
  abitibi/src/index.html
  abitibi/src/logo.gif
  abitibi/src/quebec.gif
  abitibi/src/team.jpg
Due: none

Chef
  abitibi/src/index.html
Due: none

Weather
  abitibi/docker/nginx.conf
  abitibi/src/index.html
Due: none

Upgrade helm version
  .gitlab-ci.yml
Due: none

Upgrade to helm3
  .gitlab-ci.yml
Due: none

Fix helm3 commands
  .gitlab-ci.yml
Due: none

Fix git scripts
  .gitlab-ci.yml
Due: none

Fix chartmuseum command
  .gitlab-ci.yml
Due: none

Fix teamspeak namespace
  .gitlab-ci.yml
Due: none

Migrate to new cluster
  .gitlab-ci.yml
  chartmuseum/values.yaml
  teamspeak/chart/teamspeak/values.yaml
Due: teamspeak:deploy

Update curl resume.txt
  website/src/resume.txt
Due: website:release, website:deploy

Fix date in resume.txt
  website/src/resume.txt
Due: website:release, website:deploy

Update abitibi/src/index.html
  abitibi/src/index.html
Due: none

Ball3D
  abitibi/docker/nginx.conf
  abitibi/src/ball3d.png
  abitibi/src/index.html
Due: none

Update index.html
  abitibi/src/index.html
Due: none

Delete resume.txt
  website/src/resume.txt
Due: website:release, website:deploy

Add poirebot
  website/src/index.html
Due: website:release, website:deploy

Add poire.dev
  infra/manifests/ingress.yaml
Due: infra:deploy

Add aramperes.ca
  infra/manifests/ingress.yaml
Due: infra:deploy

Typo
  infra/manifests/ingress.yaml
Due: infra:deploy

Add robots.txt
  website/src/robots.txt
Due: website:release, website:deploy

SEO
  website/src/index.html
Due: website:release, website:deploy

Update README.md
  README.md
Due: none

Add ntc-pdf-converter
  infra/manifests/ingress.yaml
Due: infra:deploy

Add separate ingress for ntc
  infra/manifests/ingress-ntc.yaml
  infra/manifests/ingress.yaml
Due: infra:deploy

Remove ntc ingress
  infra/manifests/ingress-ntc.yaml
Due: infra:deploy
