Repository aramperes/momoperes.ca: changes, and which GitLab CI jobs are due for each by the changed paths.
All: website:release, website:deploy, abitibi:release, abitibi:deploy, infra:deploy, teamspeak:deploy, chartmuseum:deploy

website:release:
  stage: release
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "Building to ${WEBSITE_IMAGE}:${CI_COMMIT_TAG}"
  ...

website:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${WEBSITE_SRC}
  ...

abitibi:release:
  stage: release
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "Building to ${ABITIBI_IMAGE}:${CI_COMMIT_TAG}"
  ...

abitibi:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${ABITIBI_SRC}
  ...

infra:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${INFRA_SRC}/
  - kubectl apply --namespace ${DEPLOY_NAMESPACE} -R -f manifests/

teamspeak:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${TEAMSPEAK_SRC}
  - helm upgrade --install --namespace ${DEPLOY_NAMESPACE} teamspeak ./chart/teamspeak

chartmuseum:deploy:
  stage: deploy
  image: wavyfm/helm-kubectl-docker:v1.19.3-v3.4.2
  script:
  - mkdir -p ${KUBECONFIG_PARENT}
  - echo ${K8S_CLUSTER_CONFIG} | base64 -d > ${KUBECONFIG}
  - cd ${CHARTMUSEUM_SRC}
  - helm repo add chartmuseum https://chartmuseum.github.io/charts && helm repo update
  ...

update meteo
  abitibi/src/index.html
Due: abitibi:release, abitibi:deploy

tonyg
  abitibi/src/index.html
  abitibi/src/tonyg.png
Due: abitibi:release, abitibi:deploy

csgo
  abitibi/src/csgo.png
  abitibi/src/index.html
Due: abitibi:release, abitibi:deploy

Update index.html
  website/src/index.html
Due: website:release, website:deploy

Add clickhouse-datasource
  website/src/index.html
Due: website:release, website:deploy

Typo
  website/src/index.html
Due: website:release, website:deploy

Configure ServerQuery port
  teamspeak/chart/teamspeak/templates/query-service.yaml
  teamspeak/chart/teamspeak/values.yaml
Due: teamspeak:deploy

not nodeport
  teamspeak/chart/teamspeak/templates/query-service.yaml
Due: teamspeak:deploy

chartmuseum smol
  chartmuseum/values.yaml
Due: chartmuseum:deploy

Deploy ts-activity
  .gitlab-ci.yml
  ts-activity/values-dev.yaml
Due: none

website: add cronwhen and ts-activity
  website/src/index.html
Due: website:release, website:deploy

TimSpeak
  .gitlab-ci.yml
  ts-activity/values.yaml
Due: none

Add buzz4j
  website/src/index.html
Due: website:release, website:deploy

Path conditions:
  website:release: any of: website/**/*
  website:deploy: any of: website/**/*
  abitibi:release: any of: abitibi/**/*
  abitibi:deploy: any of: abitibi/**/*
  infra:deploy: any of: infra/**/*
  teamspeak:deploy: any of: teamspeak/**/*
  chartmuseum:deploy: any of: chartmuseum/**/*
